# Python lesson plans

**Goal:** writing efficient _Python_ code with a focus on readability and usage of Python's constructs as intended (i.e. pythonic code)

**The Zen of Python:** (by Tim Peters)
- beautiful is better than ugly
- explicit is better than implicit 
- simple is better than complex
- complex is better than complicated
- flat is better than nested
- sparse is better than dense
- readability counts
- special cases aren't special enough to break the rules
- practicality beats purity
- errors should never pass silently unless explicitly silenced
- in the face of ambiguity, refuse the temptation to guess

Variable assignment conventions: 
- Not permitted: variables cannot start with numbers, can't use operators, spaces, slash, ., ?, !, $, #
- Permitted: letters, digits only after letters, underscores

In [1]:
var = 2 # variables sart with lower letter

In [2]:
var

2

In [3]:
Array1 = [1,2,3] #array list

In [4]:
Array1

[1, 2, 3]

In [5]:
2*Array1

[1, 2, 3, 1, 2, 3]

In [6]:
Array2 = ([1,2],[3,4])

In [7]:
Array2

([1, 2], [3, 4])

In [8]:
Array2 + Array2

([1, 2], [3, 4], [1, 2], [3, 4])

In [9]:
A_B = 1

In [10]:
A_B

1

family_member_names = [] #kebab case
print(family_member_names)

Conditional statement conventions: 
- If else do not go into paranthesis, curly brackets or square brackes are not used
- Note spaces and indentations

In [11]:
if var == 1: 
    print("var is 1")
else : 
    print("var is not 1")

var is not 1

In [12]:
names = ['Jerry', 'Tom', 'Hardy', 'George']

better_list = []
for name in names:
    if len(name) >= 6:
        better_list.append(name)
print(better_list)

['George']

In [13]:
print ("1")
print ("2")
print ("3")
print ("1, 2, 3")

1
2
3
1, 2, 3

In [14]:
print ("1, 2, 3")

1, 2, 3

For loop conventions:  
- for is a keyword among a few others in python
- explore arrays using 'for' loops or 'while'

In [15]:
for i in Array1:
    print(i)

1
2
3

In [16]:
i = 15
while i>10:
    print(i)
    i = i-1

15
14
13
12
11

_Note 1:_ Loops can be costly and inefficient. The goal is to reduce the number or usage of loops and while, and instead iterate over arrays using **map()** or use **numpy** arrays to perform calculations on all arrays all at once (e.g. np.mean, np.array, etc).

_Note 2:_ Loops can be modified to write better loops by understanding what is being done with each loop iteration. 
- If a calculation is done one time, move it outside or above the loop.  
- Use holistic conversions outside or below the loop.

# Control flow and functions
- Use def to define the functions 
- Starts with indentation, and can get from zero to infinite number of arguments  
- Arguments can have names, or default values  
- Functions can have a `side effect(s)` and/or have `return value(s)`

In [1]:
# this is an example of a function with return values
def double_me(what_to_double):
    print(what_to_double)
    return what_to_double * 2

In [2]:
double_me(2) #out comment from jupyter shows that this operation has a return value

2

4

In [3]:
# this is an example of a function with side effects
def print_me(what_to_print, what_to_print_next): 
    print(what_to_print)
    print(what_to_print_next)

In [4]:
print_me("me", "you") #me, cat, mouse... are string literal
print_me("cat", "dog")
print_me("mouse", 1)

me
you
cat
dog
mouse
1

In [5]:
# can assign a different name to function
shadow_print_me = print_me

In [8]:
shadow_print_me(1,2)

1
2

# Python standard library and built-in functions:
- Built-in types include: list, tuple, set, dict
- Built-in functions include: print(), len(), range(), round(), enumerate(), map(), zip(), and others   
-- shorthand syntax for list is [], for dict is {}, and for tuple is ()
- Built-in modules: os, sys, itertools, collections, math, and others

In [45]:
# Create a list using the formal name
formal_list = list()
print(formal_list)

# Create a list using the literal syntax
literal_list = []
print(literal_list)

# Print out the type of formal_list
print(type(formal_list))

[]
[]
<class 'list'>

In [46]:
nums = range(1,10) #use range to create a list
print(nums)

range(1, 10)

In [47]:
# Create a list of integers (0-50) using list comprehension
nums_list_comp = [num for num in range(51)]
print(nums_list_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [48]:
# Create a list of integers (0-50) by unpacking range
nums_unpack = [*range(51)]
print(nums_unpack)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [49]:
list(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
even_nums = range(2,11,2) 
print(list(even_nums))

[2, 4, 6, 8, 10]

In [51]:
letters = ['a', 'z', 'x', 'b']
index_letters = enumerate(letters) #create an indexed list of objects
print(list(index_letters))

[(0, 'a'), (1, 'z'), (2, 'x'), (3, 'b')]

In [52]:
# another way of combining objects are with zip
names = ['a', 'z', 'x', 'b']
numbers = [40, 45, 50, 55]
combine_names_numbers = zip(names, numbers)
print(type(combine_names_numbers))

combine_names_numbers_list = [*combine_names_numbers] #each item is a tuple of the lists
print(combine_names_numbers_list)

<class 'zip'>
[('a', 40), ('z', 45), ('x', 50), ('b', 55)]

In [53]:
# can also make combos using a function without side-effects
names = ['a', 'z', 'x', 'b']
numbers = ['1', '2', '3', '4']

def combo(name, num):
    result = [] 
    for x in name:
        for y in num:
            result.append((x,y))
            result.append((y,x))
    return result

In [40]:
combo(names, numbers)

[('a', '1'),
 ('1', 'a'),
 ('a', '2'),
 ('2', 'a'),
 ('a', '3'),
 ('3', 'a'),
 ('a', '4'),
 ('4', 'a'),
 ('z', '1'),
 ('1', 'z'),
 ('z', '2'),
 ('2', 'z'),
 ('z', '3'),
 ('3', 'z'),
 ('z', '4'),
 ('4', 'z'),
 ('x', '1'),
 ('1', 'x'),
 ('x', '2'),
 ('2', 'x'),
 ('x', '3'),
 ('3', 'x'),
 ('x', '4'),
 ('4', 'x'),
 ('b', '1'),
 ('1', 'b'),
 ('b', '2'),
 ('2', 'b'),
 ('b', '3'),
 ('3', 'b'),
 ('b', '4'),
 ('4', 'b')]

In [60]:
# faster and counts objects ordering them from lowest to highest
from collections import Counter
type_counts = Counter(names)
print(list(names))

['a', 'z', 'x', 'b']

In [61]:
# Import combinations from itertools
from itertools import combinations

# Create a combination object with pairs of lists
combos_obj = combinations(names, 2)
print(type(combos_obj), '\n')

# Convert combos_obj to a list by unpacking
names_2 = [*names]
print(names_2, '\n')

<class 'itertools.combinations'>

['a', 'z', 'x', 'b']

In [62]:
nums = [1.1, 2.0, 5.4, 9.8]
rnd_nums = map(round, nums) #apply a function to an object (i.e. map to round numbers)
print(list(rnd_nums))

[1, 2, 5, 10]

In [63]:
nums = [1, 2, 5, 4, 9, 8]
sqrd_nums = map(lambda x:x **2, nums) #apply a built in map function to anonymous function with lambda
print(list(sqrd_nums))

[1, 4, 25, 16, 81, 64]

In [64]:
# Create a range object that goes from 0 to 5
nums = range(6)
print(type(nums))

<class 'range'>

In [65]:
# Convert nums to a list
nums_list = list(nums)
print(nums_list)

[0, 1, 2, 3, 4, 5]

In [66]:
# Create a new list of odd numbers from 1 to 11 by unpacking a range object
nums_list2 = [*range(1,12,2)]
print(nums_list2)

[1, 3, 5, 7, 9, 11]

In [67]:
# Rewrite for loop to use enumerate
indexed_names = []
for i,name in enumerate(names):
    index_name = (i,name)
    indexed_names.append(index_name) 
print(indexed_names)

[(0, 'a'), (1, 'z'), (2, 'x'), (3, 'b')]

In [68]:
# Rewrite the above for loop using list comprehension
indexed_names_comp = [(i,name) for i,name in enumerate(names)]
print(indexed_names_comp)

[(0, 'a'), (1, 'z'), (2, 'x'), (3, 'b')]

In [69]:
# Unpack an enumerate object with a starting index of one
indexed_names_unpack = [*enumerate(names, 1)]
print(indexed_names_unpack)

[(1, 'a'), (2, 'z'), (3, 'x'), (4, 'b')]

In [70]:
# Use map to apply str.upper to each element in names
names_map  = map(str.upper, names)

# Print the type of the names_map
print(type(names_map))

# Unpack names_map into a list
names_uppercase = [*names_map]

# Print the list created by unpacking the map object
print(names_uppercase)

<class 'map'>
['A', 'Z', 'X', 'B']

# Set Theory
- Branch of mathematics applied to a collection of objects, i.e. sets
- Python has a built-in set datatype with accompanying methods:  
-- intersection(): all elements that are in both sets  
-- difference(): all elements in one set but not the other    
-- symmetric_difference(): all elements in exactly one set  
-- union(): all elements that are in either set   
- allows for membership testing using to see if a value exists in a sequence or not (using in operator)

In [73]:
list_a = ['a', 'b', 'c', 'd']
list_b = ['a', 'b', 'x', 'y']
set_a = set(list_b)
print(set_a)

set_b = set(list_b)
print(set_b)

set_a.intersection(set_b) # one simple line of code and no need for loop
                          # also the run time is much faster
    
set_b.difference(set_a) # to find the difference

set_a.symmetric_difference(set_b) # to explore differences

set_a.union(set_b) # to combine the two sets

%timeit 'x' in set_a # to explore membership
print('x' in set_a)

{'y', 'b', 'x', 'a'}
{'y', 'b', 'x', 'a'}
33.4 ns ± 0.572 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
True

In [74]:
# can also use set to convert a list to a set
list_a = ['a', 'b', 'c', 'd']
list_a_set = set(list_a)
print(list_a_set)

{'b', 'd', 'a', 'c'}

# The power of numpy arrays

Intro to numpy features:
- numpy arrays are an alternative to python lists but more efficient
- arrays, vectors, and matrices 
- less verbose
- matrix multiplications
- eigen values and eigen vectors
- solving linear systems

In [75]:
import numpy as np

In [76]:
Array = np.array([1,2,3])
print(Array)

[1 2 3]

In [77]:
# find the type of each element using dtype
Array.dtype #returns integer

dtype('int64')

In [78]:
for e in Array:
    print (e)

1
2
3

In [79]:
Array + Array

array([2, 4, 6])

In [80]:
2* Array

array([2, 4, 6])

In [81]:
Array ** 2 #squaring arrays all at once

array([1, 4, 9])

In [82]:
np.sqrt(Array) #square root of array2

array([1.        , 1.41421356, 1.73205081])

In [83]:
np.log(Array) #log of array2

array([0.        , 0.69314718, 1.09861229])

In [84]:
np.exp(Array) #exponential of array2

array([ 2.71828183,  7.3890561 , 20.08553692])

In [85]:
np.sum(Array)

6

In [86]:
np.linalg.norm(Array)

3.7416573867739413

In [87]:
M = np.matrix([[1,5], [6,8]])

In [88]:
M

matrix([[1, 5],
        [6, 8]])

In [89]:
print(M[1,:]) # to print the second row of the matrix

[[6 8]]

In [90]:
print(M[M>6]) # Print all elements of nums that are greater than six

[[8]]

In [91]:
# Double every element of M
M_dbl = M * 2
print(M_dbl)

[[ 2 10]
 [12 16]]

In [92]:
# Replace the second column of M
M[:,1] = M[:,1] + 1
print(M)

[[1 6]
 [6 9]]

In [93]:
A = np.array(M)

In [94]:
A

array([[1, 6],
       [6, 9]])

In [95]:
# Create a list of arrival times
arrival_times = [*range(10,60,10)] # intervals by 10
print(arrival_times)

# Convert arrival_times to an array and update the times
arrival_times_np = np.array(arrival_times)
new_times = arrival_times_np - 3

print(new_times)

[10, 20, 30, 40, 50]
[ 7 17 27 37 47]

In [96]:
A.T #use T for transpose

array([[1, 6],
       [6, 9]])

In [97]:
Z = np.zeros(11) #generate an array

In [98]:
Z

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [99]:
Z = np.zeros((11,11)) #generate a marix of zeros

In [100]:
Z

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [101]:
X = np.ones((10,10)) #generate a marix of ones

In [102]:
X

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [103]:
Y = np.random.random((10,10))

In [104]:
Y

array([[0.35579184, 0.7747728 , 0.48992445, 0.10885725, 0.13355319,
        0.24313407, 0.33213702, 0.47434992, 0.27057785, 0.67484345],
       [0.18027774, 0.68205535, 0.21582425, 0.45393513, 0.98849781,
        0.06727891, 0.86296432, 0.85806475, 0.70462158, 0.41747367],
       [0.63585985, 0.79375969, 0.19900827, 0.42952425, 0.99007405,
        0.45055262, 0.65327612, 0.65199999, 0.18807456, 0.67610806],
       [0.45626637, 0.9112365 , 0.65579309, 0.23352172, 0.12605694,
        0.8874374 , 0.09226782, 0.35317557, 0.99983465, 0.28922897],
       [0.6113417 , 0.72609919, 0.75346267, 0.94643661, 0.80181448,
        0.2040487 , 0.6776737 , 0.79612692, 0.4359737 , 0.74743377],
       [0.77624566, 0.34085088, 0.56797176, 0.6472214 , 0.04323505,
        0.77159063, 0.30089441, 0.68352157, 0.65685336, 0.73470674],
       [0.11851079, 0.26598064, 0.5814779 , 0.91118739, 0.10549918,
        0.12440416, 0.17892103, 0.68772458, 0.35065721, 0.52550234],
       [0.13088131, 0.73353483, 0.29621867, 0.4924576 , 0.71511134,
        0.98538912, 0.51466865, 0.63869216, 0.2153835 , 0.17487402],
       [0.94182537, 0.97457816, 0.0046258 , 0.42642334, 0.4067045 ,
        0.84177311, 0.5237656 , 0.69230298, 0.44614248, 0.84858188],
       [0.35070078, 0.51286643, 0.33338073, 0.79575856, 0.0642262 ,
        0.32585699, 0.84153299, 0.28080086, 0.02343109, 0.50951818]])

In [105]:
G = np.random.randn(10,10)

In [106]:
G

array([[ 0.91143767, -0.55808767,  0.00659945,  0.52263833, -2.16127977,
        -0.46332669,  0.70056805,  0.90228063, -0.0034718 ,  0.23001443],
       [-0.215752  , -0.56601005, -1.5166436 ,  0.05202422, -0.22106233,
        -0.4372219 , -0.08597568,  0.50040426, -0.83263128,  0.95423562],
       [-0.32844142, -0.04040685,  0.50025567,  0.09797489,  0.22086392,
         2.24726242, -0.15895142, -0.13304282,  0.5930657 ,  1.18404819],
       [-0.50300548, -0.10871293,  0.2526728 , -0.25144401, -1.93836694,
        -0.62753417,  2.01746912, -0.57860827, -0.75252584,  0.93085931],
       [ 0.09158355,  1.5593627 , -0.47570951,  0.96725051, -0.50873691,
        -0.49310754, -0.86189119, -1.70871096,  0.66671084, -0.03423764],
       [ 0.1890798 ,  1.6355293 , -0.56832202, -0.10865605,  1.57663891,
         1.07309038,  0.34715536, -0.86404805, -1.58937919,  0.96551855],
       [ 0.66597886,  0.20410198, -0.05542084, -0.45059691, -1.60308066,
         1.61762353,  0.66918669, -1.91099481, -1.55233846, -1.41944954],
       [ 1.11499735,  1.24116472, -0.47632615, -0.90447013, -0.25669018,
         0.59462977, -0.17349812, -0.01757793,  0.81856033, -0.50047362],
       [-0.75114963, -0.58330538, -1.59390765, -0.15535764,  0.31953604,
        -0.35937184, -0.32884586,  0.49589733, -1.70479781, -0.15501539],
       [-0.35089196, -0.03165506,  1.22160472, -0.05869715, -0.50821515,
         0.30937907, -0.4709603 ,  0.8797278 , -0.10981164, -0.66598481]])

In [107]:
G.mean() #calculate mean

-0.04795203813450835

In [108]:
G.var() #calculate values

0.7907787429157171

In [109]:
Ginv = np.linalg.inv(G) #inverse to get the identity matrix

In [110]:
Ginv

array([[ 3.40667537e-02,  9.44379942e-01, -4.15435671e-01,
        -3.89445865e-01, -2.24921366e-01,  1.94162315e-01,
         2.90961408e-01, -1.00660962e-01, -1.02055935e+00,
         6.80575293e-02],
       [ 2.21624389e-01, -6.63183758e-01,  1.00196004e-01,
         2.01282229e-01,  2.47317663e-01,  2.27911896e-01,
        -2.69942987e-01,  3.15555574e-01,  5.43593908e-01,
         1.15181236e-01],
       [-3.10418267e-01,  7.40339754e-01, -2.99086989e-01,
        -5.22664346e-02, -1.23989201e-01,  1.20189413e-01,
         1.70599791e-01, -2.65831390e-01, -9.22834502e-01,
         5.80342569e-01],
       [ 8.76247490e-01, -1.48940254e+00,  3.80743331e-01,
        -1.35036897e-01,  2.93430437e-01,  1.37334473e-01,
        -2.77579325e-01, -3.12579698e-01,  1.04418097e+00,
        -5.75744433e-01],
       [-7.33195154e-03, -3.66635964e-01, -3.84937555e-02,
        -1.30651417e-01, -1.43623084e-01,  1.26683567e-01,
        -1.01514942e-01, -1.09743113e-01,  1.09083327e-01,
        -3.14418841e-01],
       [ 2.73549540e-01, -6.48431301e-01,  4.71072127e-01,
        -2.79676268e-02,  8.58958579e-05,  1.05046800e-03,
        -1.58955603e-02,  1.03392182e-01,  5.69122225e-01,
        -2.10952618e-01],
       [ 5.91939100e-01, -1.73013322e+00,  3.26993855e-01,
         3.05817758e-01, -8.53214784e-02,  5.74677188e-02,
        -3.27022439e-01,  1.15557909e-01,  1.14258755e+00,
        -8.33808127e-01],
       [ 4.63238626e-01, -7.28050028e-01,  1.96040518e-01,
         3.03970923e-02, -5.14391286e-02,  9.15911677e-02,
        -3.26312740e-01,  2.13495263e-01,  7.02601267e-01,
         1.47945936e-02],
       [ 1.14525144e-01, -6.80820901e-01,  2.93913107e-01,
         9.45492211e-02,  8.35227522e-02, -2.60461029e-01,
        -2.27076887e-01,  2.22368847e-01,  4.23905070e-01,
        -4.44933210e-01],
       [-3.68005898e-01,  1.37580188e+00, -1.40580150e-01,
         6.66104174e-03, -5.82869933e-02,  1.22334128e-01,
         1.04664889e-01, -1.26616727e-01, -1.04155433e+00,
         3.96870235e-01]])

In [111]:
Ginv.dot(G) #identity matrix

array([[ 1.00000000e+00,  7.60033988e-17,  2.13517610e-16,
        -4.52536655e-17, -9.93054323e-17, -5.09558810e-16,
         3.05347233e-16,  5.96396316e-17, -2.22044605e-16,
         2.22044605e-16],
       [-2.84692107e-17,  1.00000000e+00, -2.47164525e-16,
         1.08480991e-16, -1.35802811e-16,  7.48797161e-17,
        -1.92210660e-16, -2.66643859e-17,  2.22044605e-16,
         0.00000000e+00],
       [-3.00219265e-16, -2.26401162e-16,  1.00000000e+00,
         1.94145305e-16,  2.58063247e-16, -2.41582513e-16,
        -2.10725669e-16, -1.25739864e-16, -4.44089210e-16,
         3.33066907e-16],
       [-9.50082748e-19,  3.04589605e-16,  1.85457926e-16,
         1.00000000e+00, -5.34997789e-16,  2.79112903e-16,
         1.81781241e-16, -1.80168058e-16,  9.99200722e-16,
        -7.77156117e-16],
       [ 2.65295269e-17,  1.82784619e-17,  2.42367218e-16,
        -2.92833500e-17,  1.00000000e+00, -8.44248075e-17,
         2.88052832e-16,  2.40765860e-17,  3.60822483e-16,
        -2.77555756e-16],
       [-9.18879189e-18,  5.42492644e-17,  5.99332287e-17,
        -1.11686726e-17, -1.07530109e-16,  1.00000000e+00,
         1.17286858e-17,  2.25599491e-17,  1.11022302e-16,
        -2.22044605e-16],
       [ 8.71717079e-17,  9.57381728e-17, -4.93367245e-16,
        -9.60498155e-17, -4.68127979e-16,  4.20278322e-17,
         1.00000000e+00,  7.91584131e-17,  8.88178420e-16,
        -7.77156117e-16],
       [ 2.32373615e-16,  1.48720054e-16,  1.75597839e-16,
         4.91408523e-17, -1.28696705e-16,  2.91575455e-16,
         7.09697807e-17,  1.00000000e+00,  5.55111512e-16,
        -2.22044605e-16],
       [ 8.62796862e-17,  9.77758739e-17, -3.66987336e-16,
        -1.22344206e-16, -2.02093968e-16,  1.58715495e-16,
         5.27902789e-17,  7.61256680e-17,  1.00000000e+00,
        -2.22044605e-16],
       [-4.91219144e-18, -1.84510951e-16, -7.40715872e-17,
         5.86498006e-17,  2.37709169e-18,  1.08780305e-16,
        -7.84131922e-17, -6.52135031e-17, -2.22044605e-16,
         1.00000000e+00]])

In [112]:
G.dot(Ginv) #identity matrix

array([[ 1.00000000e+00, -1.38055898e-16, -5.49393457e-17,
         7.18839082e-17,  6.27706948e-17,  2.62980792e-17,
        -3.78463659e-17,  1.87019114e-16,  1.66533454e-16,
         0.00000000e+00],
       [-1.81131382e-16,  1.00000000e+00, -1.34209205e-16,
        -7.73686750e-18, -6.69638919e-17,  1.38917786e-16,
         1.42127635e-16, -6.84638787e-18, -6.66133815e-16,
         4.44089210e-16],
       [ 1.18573194e-17,  2.87648417e-16,  1.00000000e+00,
        -4.98818752e-17, -9.42438559e-18, -1.44275683e-17,
         1.68132762e-17, -5.87739840e-18, -2.84494650e-16,
         6.93889390e-17],
       [ 3.97593601e-17, -1.05165315e-16,  1.26014407e-16,
         1.00000000e+00,  6.36169736e-17,  1.94815966e-17,
         3.50348372e-17,  7.53306068e-18,  0.00000000e+00,
        -1.11022302e-16],
       [-2.84316910e-16,  1.12999365e-15, -2.38657537e-17,
         1.08428650e-16,  1.00000000e+00, -7.24111646e-18,
         8.38442850e-17,  6.47684507e-17, -1.66533454e-16,
         2.22044605e-16],
       [ 2.80184737e-16, -6.79588484e-16,  3.49778076e-16,
         3.12871027e-16,  1.25220923e-16,  1.00000000e+00,
        -3.65161837e-16,  1.34490048e-16,  4.99600361e-16,
        -4.99600361e-16],
       [ 2.46696739e-17,  1.25647726e-16, -7.83871639e-18,
         1.50817700e-17,  7.94398531e-17, -3.71269666e-17,
         1.00000000e+00, -1.73962718e-16,  4.44089210e-16,
        -1.11022302e-16],
       [ 1.93976904e-19,  4.18516676e-17, -3.79503325e-17,
         4.99959084e-17, -1.22652006e-17, -9.25696730e-17,
         4.11738731e-17,  1.00000000e+00,  0.00000000e+00,
        -5.55111512e-17],
       [ 1.41501852e-16, -7.81178834e-17,  3.71086830e-17,
        -7.41389242e-17,  5.13721839e-18,  4.78403003e-17,
         3.67910409e-17,  1.03525427e-16,  1.00000000e+00,
        -4.85722573e-17],
       [-2.75457032e-16,  6.14037677e-16, -5.11294710e-17,
        -3.50169009e-16, -2.55765986e-18,  1.41510921e-16,
         1.86161190e-16, -4.08942845e-16, -6.66133815e-16,
         1.00000000e+00]])

In [113]:
np.linalg.det(G) #matrix determinant

-698.2796205607748

In [114]:
np.diag(G) #diagonal elements in a vector

array([ 0.91143767, -0.56601005,  0.50025567, -0.25144401, -0.50873691,
        1.07309038,  0.66918669, -0.01757793, -1.70479781, -0.66598481])

In [115]:
np.diag([1,2])

array([[1, 0],
       [0, 2]])

In [116]:
# to find the most efficient code, we can time it!
%timeit np.random.rand(1000) # can use built-in 'examining time' function to measure how much time calculations take

# can also set the number of runs (-r)and number of loops (-n)
%timeit -r2 -n10 np.random.rand(1000) 

#can also run timeit in cell code by using two magic %% codes and also save the output in (-o) flag
time = %timeit -o np.random.rand(1000)

10.6 µs ± 380 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
The slowest run took 5.60 times longer than the fastest. This could mean that an intermediate result is being cached.
32.7 µs ± 22.8 µs per loop (mean ± std. dev. of 2 runs, 10 loops each)
11.5 µs ± 1.16 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [117]:
## code profiling allows us to analyze code line-by-line using package: line_profiler
## this has applications for memory usage (or memory foot print)
#pip install line_profiler
#%load_ext line_profiler
#%lprun -f # this will profile a function line-by-line

## to calculate the memory usage
#pip install memory_profiler 
#%load_ext memory_profiler
#%mprun -f 

import sys
sys.getsizeof(np.array(range(20)))

256

In [ ]:
## imagine a list of 480 superheroes has been loaded into your session called (heroes)
## as well as a list of each hero's corresponding publisher (called publishers)

def get_publisher_heroes(heroes, publishers, desired_publisher):

    desired_heroes = []

    for i,pub in enumerate(publishers):
        if pub == desired_publisher:
            desired_heroes.append(heroes[i])

    return desired_heroes

def get_publisher_heroes_np(heroes, publishers, desired_publisher):

    heroes_np = np.array(heroes)
    pubs_np = np.array(publishers)

    desired_heroes = heroes_np[pubs_np == desired_publisher]

    return desired_heroes


# Use get_publisher_heroes() to gather Star Wars heroes
star_wars_heroes = get_publisher_heroes(heroes, publishers, 'George Lucas')

print(star_wars_heroes)
print(type(star_wars_heroes))

# Use get_publisher_heroes_np() to gather Star Wars heroes
star_wars_heroes_np = get_publisher_heroes_np(heroes, publishers, 'George Lucas')

print(star_wars_heroes_np)
print(type(star_wars_heroes_np))

In [118]:
np.outer(M.T,M)

array([[ 1,  6,  6,  9],
       [ 6, 36, 36, 54],
       [ 6, 36, 36, 54],
       [ 9, 54, 54, 81]])

In [119]:
np.inner(M.T,M)

matrix([[ 37,  60],
        [ 60, 117]])

In [120]:
M.dot(M.T) #matrix multiplication

matrix([[ 37,  60],
        [ 60, 117]])

In [121]:
np.diag(M).sum()

10

In [122]:
np.trace(M)

10

In [123]:
S = np.random.randn(100,3) #synthetic random data with 100 samples and 3 features

In [124]:
cov = np.cov(S.T)

In [125]:
cov # to calculate coveriance of a marix, we need to transpose it first

array([[ 1.04166055,  0.08876389, -0.04038847],
       [ 0.08876389,  0.94483293,  0.0034369 ],
       [-0.04038847,  0.0034369 ,  0.97412574]])

In [126]:
cov.shape

(3, 3)

In [127]:
np.linalg.eigh(cov)# eigenvalues for symmetric and hermitian matrix

(array([0.88547882, 0.97216958, 1.10297081]),
 array([[-0.52766844,  0.07587895, -0.84605461],
        [ 0.80485449,  0.36313726, -0.4694045 ],
        [-0.27161603,  0.92864079,  0.25268759]]))

In [128]:
np.linalg.eig(cov) #regular eig and eigh gives the same in this case but possible to get others

(array([1.10297081, 0.88547882, 0.97216958]),
 array([[ 0.84605461,  0.52766844,  0.07587895],
        [ 0.4694045 , -0.80485449,  0.36313726],
        [-0.25268759,  0.27161603,  0.92864079]]))

In [129]:
np.linalg.inv(M.T).dot(M) #there is a better way to do this with solve

matrix([[1., 0.],
        [0., 1.]])

In [130]:
np.linalg.solve(M.T, M) #get the same answer as above, always use solve not inverse

matrix([[1.00000000e+00, 0.00000000e+00],
        [1.23358114e-17, 1.00000000e+00]])

# The power of Pandas 
- Pandas is a library used for data analysis
- Pandas is built on top of numpy
- The main data structure is the dataframe   
-- tabular data with labeled rows and columns  
-- build on top of the numpy array structure